.ToTop {  
    position: fixed;
    z-index: 1;
    color:#ffffff;
    font-size: 60px;
    bottom: 2vh;
    right: 5vh; 
    cursor: pointer;
}
.ToTop:hover {  
     color: #cccccc;
     transition: all 0.5 ease-in-out; 
}